<h1>Read configuration</h1>

<p>MyKey: <strong>@ViewBag.MyKey</strong></p>
<p>MashRahim: <strong>@ViewBag.MashRahim</strong></p>
<p>X: <strong>@ViewBag.X</strong></p>
myConnections:
<ul>
    <li>@ViewBag.myConnectionsDefault</li>
    <li>@ViewBag.myConnectionsOther</li>
</ul>
<p>X: <strong>@ViewBag.X</strong></p>

<p>ClientId: <strong>@ViewBag.ClientId</strong></p>
<p>ClientSecret: <strong>@ViewBag.ClientSecret</strong></p>